<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- Appenders -->
	<appender name="general" class="ch.qos.logback.core.FileAppender">
		<File>${vikasworld.root}/WEB-INF/logs/app.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %t %-5p %c{2} - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="spring" class="ch.qos.logback.core.FileAppender">
		<File>${vikasworld.root}/WEB-INF/logs/spring.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %t %-5p %c{2} - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="hibernate" class="ch.qos.logback.core.FileAppender">
		<File>${vikasworld.root}/WEB-INF/logs/hibernate.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %t %-5p %c{2} - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="hibernate-sql" class="ch.qos.logback.core.FileAppender">
		<file>${vikasworld.root}/WEB-INF/logs/hibernate-sql.log</file>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="vikas" class="ch.qos.logback.core.FileAppender">
		<file>${vikasworld.root}/WEB-INF/logs/vikas.log</file>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="engine" class="ch.qos.logback.core.FileAppender">
		<file>${vikasworld.root}/WEB-INF/logs/engine.log</file>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="debug" additivity="false">
		<appender-ref ref="spring" />
	</logger>

	<logger name="org.hibernate" level="debug" additivity="false">
		<appender-ref ref="hibernate" />
	</logger>

	<logger name="org.hibernate.SQL" additivity="false">
		<appender-ref ref="hibernate-sql" />
	</logger>

	<logger name="org.hibernate.type" additivity="false">
		<appender-ref ref="hibernate-sql" />
	</logger>

	<logger name="com.vikas" additivity="false">
		<appender-ref ref="vikas" />
	</logger>

	<logger name="com.vikas.engine" additivity="false">
		<appender-ref ref="engine" />
	</logger>

	<root>
		<appender-ref ref="general" />
	</root>

</configuration>