#chess-container {
	display:block;
	padding:0px;
	margin:0px;
	width:384px;
	height:384px;
	border:4px solid #FF0000;
	left:0px;
	top:0px;
	background-image:url('../images/board.jpg');
	background-repeat:repeat-y;
}

.square {
	display:inline;
	position:relative;
	width:48px;
	height:48px;
	padding:0px;
	margin:0px;
	float:left;
}

div.row div {
	float: left;
}

div.row:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.wking, .wqueen, .wrook, .wbishop, .wknight, .wpawn, .bking, .bqueen, .brook, .bbishop, .bknight, .bpawn {
	position:relative;
	top:15%;
	left:3%;
}

#white_promotion_window {
	display: inline;
	position: absolute;
	left: 547px;
	top: 310px;
	background-color:#000000;
	width:170px;
	height:42px;
	visibility: hidden;
}

#black_promotion_window {
	display: inline;
	position: absolute;
	left: 547px;
	top: 310px;
	background-color:#FFFFFF;
	width:170px;
	height:42px;
	visibility: hidden;
}