body {
    background-color: #888;
    color: black;
}

#main_div {
	font: 12px/180% Verdana;
	width: 1000px;
	margin: auto auto;
	border: 1px solid blue;
	text-align: left;
	background-color: white;
}

#header {
	background-color: #B6C8DA;
}

#title {
	text-align: center;
	font-weight: bold;
}

table.normal {
	width: 100%;
	border-width: 1px;
	border-style: outset;
}

table.normal td {
	border-style: inset;
}