<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{${'/' + #themes.code('css')}}"
	type="text/css" />

<script
	src="http://www.google.com/jsapi?key=ABQIAAAAskGHH4QCF7EWi5qfKmklERSQYZB7zIwjPLM5VrbiIxCsikgCEBTtiSYXBMHZk5VKVPk4kyb_MfGblw"
	type="text/javascript"></script>

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="styles/chess.css" />

<title>Welcome to Vikas World!</title>
</head>
<body class="tundra spring">

	<div id="main_div">

		<div th:replace="fragments/bodyHeader :: header"></div>

		<div id="breadcrumb">
			<a th:href="@{'/'}">Home</a> >> <a th:href="@{'/chess/index.htm'}">Chess</a>
			>> Play Chess
			<hr />
		</div>

		<table class="normal">

			<tr>
				<td th:text="#{title_playChess}" height="50"></td>
			</tr>

		</table>

		<div id="main" align="center">

			<div id="chess-container">
				<div th:each="sqRow : ${#numbers.sequence( 0, 7)}" class="row">
					<div th:each="sqCol : ${#numbers.sequence( 0, 7)}">
						<div th:id="'square_' + ${sqRow * 8 + sqCol}" class="square"></div>
					</div>
				</div>
			</div>

		<div id="white_promotion_window">
		 	<img id="WQ" src='images/WQ.png' />
		 	<img id="WR" src='images/WR.png' />
		 	<img id="WB" src='images/WB.png' />
		 	<img id="WN" src='images/WN.png' />
		 </div>
		 
		 <div id="black_promotion_window">
		 	<img id="BQ" src='images/BQ.png' />
		 	<img id="BR" src='images/BR.png' />
		 	<img id="BB" src='images/BB.png' />
		 	<img id="BN" src='images/BN.png' />
		 </div>
 
			<div>
				<input type='button' onclick='javascript:newGame();'
					value='New Game' />
				<input type='button'
					onclick='javascript:switchSides();' value='Switch Sides' />
				<input
					type='button' onclick='javascript:takebackMove();'
					value='Takeback Move' />
			</div>
		</div>
	</div>

<script type="text/javascript" src="scripts/chess.min.js"></script>

</body>
</html>