<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{${'/' + #themes.code('css')}}" type="text/css" />

<script
	src="http://www.google.com/jsapi?key=ABQIAAAAskGHH4QCF7EWi5qfKmklERSQYZB7zIwjPLM5VrbiIxCsikgCEBTtiSYXBMHZk5VKVPk4kyb_MfGblw"
	type="text/javascript"></script>

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script type="text/javascript" src="scripts/photos.js"></script>

<link rel="stylesheet" type="text/css" href="styles/photos.css" />

<title>Welcome to Vikas World!</title>
</head>
<body class="tundra spring">

	<div id="main_div">

		<div th:replace="fragments/bodyHeader :: header"></div>

		<div id="breadcrumb">
			<a th:href="@{'/'}">Home</a> >> <a th:href="@{'/personal/index.htm'}">Personal</a>
			>> Family Photos
			<hr />
		</div>

		<table class="normal">

			<tr>
				<td th:text="#{title_familyPhotos}" height="50"></td>
			</tr>

		</table>

		<P th:utext="${htmlStr}"></P>

	</div>

	<script>
		loadAlbum(1);
	</script>

</body>
</html>