<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{${'/' + #themes.code('css')}}"
	type="text/css" />

<title>Login page</title>
</head>
<body class="tundra spring">
	<div id="main_div">

		<div th:replace="fragments/bodyHeader :: header"></div>

		<div id="breadcrumb">
			<a th:href="@{'/'}">Home</a> >> Forgot Password
			<hr />
		</div>

		<table class="normal">
			<tr>
				<td height="50">Forgot Password? Don't worry, I'll mail you.</td>
			</tr>
		</table>

		<div th:if="${msg} == 'success'">
			<font color="red">Your username and password details are sent
				to your mail id. Please check.</font>
		</div>

		<div th:if="${msg} != 'success'">

			<div align='center'>

				<form th:object="${person}" method="post">

					<div th:if="${msg} == 'fail'">
						<font color="red">Please provide correct mail id or
							username.</font>
					</div>

					<table>
						<tr>
							<td colspan="3">Please provide either your mail id or
								username</td>
						</tr>
						<tr>
							<td>email id :</td>
							<td><input type="text" th:field="*{emailAddress}" /></td>
						</tr>
						<tr>
							<td colspan="3">--OR--</td>
						</tr>
						<tr>
							<td>User Name :</td>
							<td><input type="text" th:field="*{name}" maxlength="32" /></td>
						</tr>

						<tr>
							<td colspan="3"><input type="submit"
								value="Email My Password" /></td>
						</tr>

					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>