<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{${'/' + #themes.code('css')}}" type="text/css" />

<link rel="stylesheet" type="text/css" href="styles/iccVideos.css" />

<title>Welcome to Vikas World!</title>

</head>
<body class="tundra spring">

	<div id="main_div">

		<div th:replace="fragments/bodyHeader :: header"></div>

		<div id="breadcrumb">
			<a th:href="@{'/'}">Home</a> >> <a th:href="@{'/chess/index.htm'}">Chess</a>
			>> Watch Videos
			<hr />
		</div>

		<table class="normal">

			<tr>
				<td th:text="#{home_link_iccVideos}" height="50"></td>
			</tr>

		</table>

		<P th:utext="${htmlStr}"></P>

	</div>
</body>
</html>