<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headTag :: headTag">
</head>

<body class="tundra spring">

	<div id="main_div">

		<div th:replace="fragments/bodyHeader :: header"></div>

		<div th:unless="${#lists.isEmpty(games)}">

			<h2>List of Games</h2>

			<table>
				<thead>
					<tr>
						<th>Game Id</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="game : ${games}">
						<td>
							<a th:href="@{'/chess/game.htm?gameId=' + ${game.gameId}}" th:text="${game.gameId}">element</a>
						</td>
						<td th:text="${game.title}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>