<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{${'/' + #themes.code('css')}}"
	type="text/css" />

<script
	src="http://www.google.com/jsapi?key=ABQIAAAAskGHH4QCF7EWi5qfKmklERSQYZB7zIwjPLM5VrbiIxCsikgCEBTtiSYXBMHZk5VKVPk4kyb_MfGblw"
	type="text/javascript"></script>

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script type="text/javascript" src="scripts/personal.js"></script>

<title>Login page</title>
</head>
<body class="tundra spring">
	<div id="main_div">

		<div th:replace="fragments/bodyHeader :: header"></div>

		<div id="breadcrumb">
			<a th:href="@{'/'}">Home</a> >> Personal
			<hr />
		</div>

		<fieldset>
			<legend>
				<a href="myPhotos.htm"> <span th:text="#{home_link_myPhotos}"></span>
				</a>
			</legend>
			<div th:text="#{title_myPhotos}"></div>
		</fieldset>

		<p></p>

		<fieldset>
			<legend>
				<a href="familyPhotos.htm"><span
					th:text="#{home_link_familyPhotos}"></span> </a>
			</legend>
			<div th:text="#{title_familyPhotos}"></div>
		</fieldset>

	</div>
</body>
</html>