<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/headTag :: headTag">

</head>
<body class="tundra spring">

	<div id="main_div">

		<div th:replace="fragments/bodyHeader :: header"></div>

		<div id="main">

			<div id="chess-container">
				<div th:each="sqRow : ${#numbers.sequence( 0, 7)}" class="row">
					<div th:each="sqCol : ${#numbers.sequence( 0, 7)}">
						<div th:id="'square_' + ${sqRow * 8 + sqCol}" class="square"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>